/*  
|
|	Name:			Leopard
|	Author:			Nettuts/Harley Alexander
|	Description:	For a Tutorial at http://nettuts.com/, it's aimed at showing how jQuery and jQuery UI can create a 
|					leopard style Web Desktop. Although basic, it incompases Dashboard and Windows!
|
*/

*{
	margin: 0;
	padding: 0;
}

a{
	color: #005693;
}

body{
	background: url(images/background.jpg) no-repeat fixed;
	font: 75%/18px "Lucida Grande", Lucida, Verdana, sans-serif;
	width: 100%;
	height: 100%;
}

.stack{
	position: absolute;
	bottom: 0;
	right: 100px;
}

.stack ul{
	list-style: none;
	position: absolute;
	top: -30px;
	z-index: -9;
}

.stack ul li{
	position: absolute;
}

.stack ul li span{
	display: none;
}

.stack .openStack li span{
	display:block;
	position:absolute;
	top: 17px;
	right:60px;
	height: 14px;
	line-height: 14px;
	border: 0;
	background-color:#000;
	color: #fcfcfc;
	text-align: center;
	opacity: .85;
	padding: 3px 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	opera-border-radius: 10px;
	text-shadow: #000 1px 1px 1px;
}

.stack2{
	position: absolute;
	bottom: 0;
	left: 100px;
}

.stack2 ul{
	list-style: none;
	position: absolute;
	top: -30px;
	z-index: -9;
}

.stack2 ul li{
	position: absolute;
}

.stack2 ul li span{
	display: none;
}

.stack2 .openStack li span{
	display:block;
	position:absolute;
	top: 17px;
	left:60px;
	height: 14px;
	line-height: 14px;
	border: 0;
	background-color:#000;
	color: #fcfcfc;
	text-align: center;
	opacity: .85;
	padding: 3px 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	opera-border-radius: 10px;
	text-shadow: #000 1px 1px 1px;
}